.clock {
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 50px;
    justify-content: center;
    height: 100px;
    width: 100px;
  }